<a href="https://colab.research.google.com/github/Zabrsh/test/blob/master/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/Customers_big.csv')
print(df.head(5))

   CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0           1    Male   19              15000                      39
1           2    Male   21              35000                      81
2           3  Female   20              86000                       6
3           4  Female   23              59000                      77
4           5  Female   31              38000                      40

      Profession  Work Experience  Family Size
0     Healthcare                1            4
1       Engineer                3            3
2       Engineer                1            1
3         Lawyer                0            2
4  Entertainment                2            6

In [ ]:
print(df.dropna())

      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0              1    Male   19              15000                      39
1              2    Male   21              35000                      81
2              3  Female   20              86000                       6
3              4  Female   23              59000                      77
4              5  Female   31              38000                      40
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32
1997        1998    Male   87              90961                      14
1998        1999    Male   77             182109                       4
1999        2000    Male   90             110610                      52

         Profession  Work Experience  Family Size
0        Healthcare                1            4
1          Engineer                3            3
2          Engineer                1            1
3            Lawyer                0            2
4     Entertainment                2            6
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[1965 rows x 8 columns]

In [ ]:
print(df.fillna(value='Fill Value'))

In [ ]:
print(df.fillna(value=df['Age'].mean()))

In [ ]:
# Selecting column
print(df['Age'])

0       19
1       21
2       20
3       23
4       31
        ..
1995    71
1996    91
1997    87
1998    77
1999    90
Name: Age, Length: 2000, dtype: int64

In [ ]:
# Selecting columns
print(df[['Age','Gender']])

      Age  Gender
0      19    Male
1      21    Male
2      20  Female
3      23  Female
4      31  Female
...   ...     ...
1995   71  Female
1996   91  Female
1997   87    Male
1998   77    Male
1999   90    Male

[2000 rows x 2 columns]

In [ ]:
#Selecting rows
print(df[0:2])

   CustomerID Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0           1   Male   19              15000                      39
1           2   Male   21              35000                      81

   Profession  Work Experience  Family Size
0  Healthcare                1            4
1    Engineer                3            3

In [ ]:
# Selecting by condition
print(df[df['Age'] > 25])

      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
4              5  Female   31              38000                      40
6              7  Female   35              31000                       6
8              9    Male   64              97000                       3
9             10  Female   30              98000                      72
10            11    Male   67               7000                      14
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32
1997        1998    Male   87              90961                      14
1998        1999    Male   77             182109                       4
1999        2000    Male   90             110610                      52

         Profession  Work Experience  Family Size
4     Entertainment                2            6
6        Healthcare                1            3
8          Engineer                0            3
9            Artist                1            4
10         Engineer                1            3
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[1484 rows x 8 columns]

In [ ]:
#Selecting with more complex conditions
print(df[(df['Age'] > 25) & (df['Gender'] == 'Female')])

      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
4              5  Female   31              38000                      40
6              7  Female   35              31000                       6
9             10  Female   30              98000                      72
11            12  Female   35              93000                      99
12            13  Female   58              80000                      15
...          ...     ...  ...                ...                     ...
1990        1991  Female   30             166983                      69
1991        1992  Female   97             129444                      96
1993        1994  Female   64             175254                     100
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32

         Profession  Work Experience  Family Size
4     Entertainment                2            6
6        Healthcare                1            3
9            Artist                1            4
11       Healthcare                4            4
12        Executive                0            5
...             ...              ...          ...
1990         Artist                7            3
1991  Entertainment                5            6
1993         Artist                9            5
1995         Artist                8            7
1996         Doctor                7            7

[885 rows x 8 columns]

In [ ]:
#Query method
print(df.query('Age > 25'))

      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
4              5  Female   31              38000                      40
6              7  Female   35              31000                       6
8              9    Male   64              97000                       3
9             10  Female   30              98000                      72
10            11    Male   67               7000                      14
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32
1997        1998    Male   87              90961                      14
1998        1999    Male   77             182109                       4
1999        2000    Male   90             110610                      52

         Profession  Work Experience  Family Size
4     Entertainment                2            6
6        Healthcare                1            3
8          Engineer                0            3
9            Artist                1            4
10         Engineer                1            3
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[1484 rows x 8 columns]

In [ ]:
print(df.loc[:,['Age', 'Gender']])

      Age  Gender
0      19    Male
1      21    Male
2      20  Female
3      23  Female
4      31  Female
...   ...     ...
1995   71  Female
1996   91  Female
1997   87    Male
1998   77    Male
1999   90    Male

[2000 rows x 2 columns]

In [ ]:
print(df.iloc[:,[2,1]])

      Age  Gender
0      19    Male
1      21    Male
2      20  Female
3      23  Female
4      31  Female
...   ...     ...
1995   71  Female
1996   91  Female
1997   87    Male
1998   77    Male
1999   90    Male

[2000 rows x 2 columns]

In [ ]:
print(df.loc[1:3, :])

   CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
1           2    Male   21              35000                      81
2           3  Female   20              86000                       6
3           4  Female   23              59000                      77

  Profession  Work Experience  Family Size
1   Engineer                3            3
2   Engineer                1            1
3     Lawyer                0            2

In [ ]:
print(df.iloc[2:5,[0,1]])

   CustomerID  Gender
2           3  Female
3           4  Female
4           5  Female

In [ ]:
print(df.loc[4:10,['Age',"Gender","Family Size"]])

    Age  Gender  Family Size
4    31  Female            6
5    22  Female            2
6    35  Female            3
7    23  Female            3
8    64    Male            3
9    30  Female            4
10   67    Male            3

In [ ]:
# Create a sample DataFrame
data = {
 'Name': ['John', 'Emma', 'Alex', 'Sarah'],
 'Age': [28, 32, 25, 30],
 'Salary': [5000, 7000, 4500, 6000]
}
df = pd.DataFrame(data)

In [ ]:
print(df.sort_values('Age'))

    Name  Age  Salary
2   Alex   25    4500
0   John   28    5000
3  Sarah   30    6000
1   Emma   32    7000

In [ ]:
print(df.sort_values(['Age',"Salary"], ascending=[True,True]))

    Name  Age  Salary
2   Alex   25    4500
0   John   28    5000
3  Sarah   30    6000
1   Emma   32    7000

In [ ]:
import numpy as np

df1 = pd.DataFrame({
 'key': ['A', 'B', 'C', 'D'],
 'value': np.random.randn(4)
 })

df2 = pd.DataFrame({
 'key': ['B', 'D', 'D', 'E'],
 'value': np.random.randn(4)
 })
merged = pd.merge(df1, df2, on='key')

In [ ]:
print(merged.head())

  key   value_x   value_y
0   B -0.299161  1.389286
1   D  0.349171  1.618972
2   D  0.349171  1.833121

In [ ]:
data = {
'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
'Sales': [200, 120, 340, 124, 243, 350]
}
df = pd.DataFrame(data)

In [ ]:
by_comp = df.groupby('Company')['Sales'].mean()
print(by_comp)
print( df.groupby('Company')['Sales'].sum())
print(df.groupby('Company')['Sales'].std())
print(df.groupby('Company')['Sales'].describe())

Company
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Sales, dtype: float64
Company
FB      593
GOOG    320
MSFT    464
Name: Sales, dtype: int64
Company
FB       75.660426
GOOG     56.568542
MSFT    152.735065
Name: Sales, dtype: float64
         count   mean         std    min     25%    50%     75%    max
Company
FB         2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG       2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT       2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [ ]:
def earliest_connected_time(friendships, n):
    # Initialize union-find data structure
    uf = UnionFind(n)
    count = 0

    # Iterate through friendships in chronological order
    for timestamp, p1, p2 in friendships:
        if uf.find(p1) != uf.find(p2):
            uf.union(p1, p2)
            count += 1
            if count == n - 1:
                return timestamp

    # If not all members are connected, return +infinity
    return float('inf')

friendships = [
    (0, 1, "2015-08-14 18:00:00"),
    (1, 9, "2015-08-14 18:01:00"),
    (0, 2, "2015-08-14 18:02:00"),
    (0, 3, "2015-08-14 18:04:00"),
    (0, 4, "2015-08-14 18:06:00"),
    (0, 5, "2015-08-14 18:08:00"),
    (0, 6, "2015-08-14 18:10:00"),
    (0, 7, "2015-08-14 18:12:00"),
    (0, 8, "2015-08-14 18:14:00"),
    (1, 2, "2015-08-14 18:16:00"),
    (1, 3, "2015-08-14 18:18:00"),
    (1, 4, "2015-08-14 18:20:00"),
    (1, 5, "2015-08-14 18:22:00"),
    (2, 1, "2015-08-14 18:24:00"),
    (2, 3, "2015-08-14 18:26:00"),
    (2, 4, "2015-08-14 18:28:00"),
    (5, 5, "2015-08-14 18:30:00")
]



n = 10  # Number of individuals

result = earliest_connected_time(friendships, n)
print("Earliest connected time:", result)

TypeError: list indices must be integers or slices, not str

TypeError: list indices must be integers or slices, not str